body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    padding: 10px;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80 vh;
}

.logo-section {
    flex:1;
    padding:20px;
}

.form-section {
    flex:1;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 5px;
}

#login-form input[type="text"], #login-form input[type="submit"]{
    margin-bottom: 10px;
}

.blog-section {
    max-width: 600px;
    margin: 0 auto;
}

#form-data div {
    margin-bottom: 10px;
}

#dark-mode-toggle {
    width: 30px;
    height: auto;
}


.form-data {
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:5px;
}

.form-data div {
    margin-bottom: 5px;
}